@model gymNotebook.ViewModels.TrainingViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />
@foreach (var training in Model.Trainings)
{

    <ol>@training.TrainingName :</ol>

    foreach (var session in Model.TrainingSessions.Where(t => t.TrainingID == training.TrainingID))
    {

            <ol>@session.SessionName :</ol>
           
            foreach (var exercise in Model.Exercises.Where(e => e.SessionID == session.SessionID))
            {
                    <li>@exercise.ExerciseName</li>
                    <li>@exercise.MusclePart</li>
            }
        }

}