@model IEnumerable<gymNotebook.Models.Training>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach(var item in Model)
{
    <tr>
        <td>@item.TrainingName</td>
        <td>@item.TrainingID</td>
    </tr>
}